@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

@font-face {
    font-family: "light";
    src: local("BasierCircle-Regular"),
        url("./fonts/BasierCircle-Regular.woff") format("woff")
}

@font-face {
    font-family: "bold";
    src: local("BasierCircle-Regular"),
        url("./fonts/BasierCircle-Bold.woff") format("woff")
}

p {
    font-size: 1.2em;
    color: #000;
    font-family: 'light', sans-serif;
}

h1 {
    color: #000;
    font-family: 'bold', sans-serif;
}

.blur {
    backdrop-filter: blur(3px);
}

.small-text {
    font-size: 10px;
    color: #1c0531;
    font-family: 'Outfit', sans-serif;
}

.mint-details {
    background-color: #000;
    width: 50%;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
}

.mint-details-small {
    background-color: #000;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.collapse {
    flex-direction: row-reverse;
}

.btn-outline-secondary {
    color: #FEBF63;
}

.btn-outline-secondary:hover {
    color: white !important;
}

.img-main {
    position: relative;
    text-align: center;
}

.img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 33%;
}

.img-content-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.btn-green {
    background-color: black;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'bold';
    transition: 0.3s;
}

.btn-green:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-gray {
    background-color: #eaeaea;
    padding: 15px 100px 15px 100px;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
    box-shadow: 5px 5px 5px #D9D9D9;
    width: 400px;
    font-family: 'bold';
}

.btn-gray:hover {
    transform: scale(1.01);
}

.btn-gray-outline {
    background-color: #FFF;
    padding: 15px 100px 15px 100px;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
    width: 400px;
    box-shadow: 5px 5px 5px #D9D9D9;
    font-family: 'bold';
}

.btn-gray-outline:hover {
    transform: scale(1.01);
}

.btn-black {
    background-color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
    font-family: 'bold';
    border: 1px solid black;
    transition: 0.3s;
}

.btn-black:hover {
    background-color: black;
    color: white;
}

.btn-black-sm {
    background-color: #000;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'bold';

}
.row-display {
    padding: 10px;
    display: flex;
    gap: 20;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px #D9D9D9;
    border-radius: 15px;
    min-height: 70px;
}
.row-display-click {
    padding: 10px;
    display: flex;
    gap: 20;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px #D9D9D9;
    border-radius: 15px;
    min-height: 70px;
}

.row-display-click:hover {
    font-family: 'bold';
    color: black;
    transform: scale(1.01);
}

.underline {
    border-bottom: 1px solid black;
}